*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: CabinetGrotesk-Extrabold, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(0, 255, 255, 0.381);
}
.container{
    width: 850px;
    background-color: white;
    border-radius: 10px;
    padding: 30px 35px 35px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.343);
}
.container.disable :where(.editor-space,.reset-filters,.save-img){
    opacity: 0.6;
    pointer-events: none;
}
.container h2{
    font-size: 22px;
    font-weight: 700;
}
.container .wrapper{
    display: flex;
    margin: 20px 0;
    min-height: 335px;
}
.wrapper .editor-space{
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 280px; 
}
.editor-space .tittle{
 display: block;
 font-size: 16px;
 margin-bottom: 12px;
}
.editor-space .options,.controls{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
}
.editor-space button{
    height: 40px;
    font-size: 14px;
    color: #6C757D;
    background-color: white;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    
}
.editor-space button:hover{
    background: #dbd8d8;
}
.editor-space .filter button{
    width: calc(100%/2 - 4px);
}
.filter button.active{
    background: #5372F0;
    color: #fff;
    border-color: #5372F0;
}
.filter .slider{
    margin-top: 12px;
}
.filter .slider .filter-info{
    color: #464646;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.filter .slider input{
    width: 100%;
    height: 5px;
    accent-color: #5372f0;
}
.editor-space .rotate {
    margin-top: 17px;
}
.editor-space .rotate button{
    width: calc(100%/4 - 3px );
}
.rotate button{
    font-size: 18px;
}
.wrapper .preview-img{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    overflow: hidden;
}
.preview-img img{
    max-width: 490px;
    max-height: 335px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.controls button{
    cursor: pointer;
    padding: 11px 20px;
    font-size: 14px;
    border-radius: 3px;
    background: #fff;
    color: #fff;
    text-transform: uppercase;
}
.controls .reset-filters{
    color: #6C757D;
    border: 1px solid #6C757D;

}
.controls .choose-img{
    background: #6C757D;
    border: 1px solid #6C757D;

}
.controls .save-img{
    margin-left: 5px;
    background: #6a49d6;
    border: 1px solid #6C757D;

}

/* media Query-----------------------------  */


@media (max-width:760px) {
    .container{
        padding: 25px;
    }
    .container .wrapper{
        flex-wrap: wrap-reverse;
    }
    .wrapper .editor-space{
        width: 100%;
    }
    .wrapper .preview-img{
        width: 100%;
        margin: 0 0 15px;
    }
    
}
@media  (max-width:477px) {
    .controls button{
        width: 100%;
        margin-bottom: 10px;

    }
    .controls .row{
        width: 100%;
    }
    .controls .row .save-img{
        margin-left: 0px;
    }
}

